.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--color-secondary-black);
  box-shadow: 2rem 0 4rem rgba(#000, 0.2);
  border-radius: 9px;
  overflow: hidden;
}

.btn {
  cursor: pointer;

  &:hover,
  &:focus {
    & .img {
      transform: scale(1.1);
    }
  }
}

.img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: var(--transition-fast);
}

.container {
  padding: 1.2rem;
  width: 100%;
}

.name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.quantity {
  font-size: 2.2rem;
  font-weight: 300;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 2.2rem;
  font-weight: 600;
}
