.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3.2rem;
}

.label {
  margin-bottom: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-error-red);
  font-weight: 500;
  font-size: 1.6rem;
  transform: translateY(110%);
}
