.heading {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 4.2rem;

  @media only screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 70%;

  @media only screen and (max-width: 1024px) {
    width: 90%;
  }

  @media only screen and (max-width: 768px) {
    width: 95%;
  }
}

.input {
  font-size: 2rem;
  padding: 8px 1.8rem;
  border: 2px solid var(--color-primary-white);
  width: 100%;
  transition: var(--transition-fast);

  &::placeholder {
    font-size: 1.8rem;
    color: var(--color-primary-white-shade-2);
  }

  &:focus {
    border: 2px solid var(--color-primary-yellow);
  }
}

.select {
  background-color: rgba(#333, 0.6);
  padding: 8px 1.8rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    background-color: rgba(#333, 1);
  }
}

.option {
  background-color: rgba(#151515, 0.6);

  &:hover,
  &:focus {
    background-color: #333;
  }
}
