@import "../../animations.scss";

.container {
  width: 100%;
  background-color: rgba(#121212, 0.95);
  border-radius: 7px;
  overflow: hidden;
  padding: 3.6rem 2.4rem;
  height: 80vh;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1400px) {
    max-height: none;
    padding: 14rem 2.4rem 8rem;
  }
}

.heading {
  font-size: 6rem;
  text-align: center;
  font-family: "Caveat", cursive;
  color: var(--color-primary-yellow);
  letter-spacing: 0.5px;
  margin-bottom: 2.4rem;
  animation: fadeInLeft 1s;

  @media only screen and (max-width: 800px) {
    margin-bottom: 3.6rem;
  }
}

.content {
  overflow-y: scroll;
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #222;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 1000px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #444;
  }

  @media (hover: none) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // @media only screen and (max-width: 1400px) {
  //   overflow-y: visible;
  //   flex-grow: 1;
  // }
}
