.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2.4rem;
  transition: var(--transition-medium);
  cursor: pointer;

  &::after {
    content: "";
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    background-image: url("/svg/details-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition-medium);
  }

  &:focus,
  &:hover {
    color: var(--color-primary-yellow);

    &:after {
      background-image: url("/svg/details-yellow.svg");
    }
  }
}
