@import "../../animations.scss";

.container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  min-width: 55rem;
  max-width: 70rem;
  background-color: var(--color-secondary-black);
  box-shadow: -1.6rem 0px 3.2rem -3rem rgba(0, 0, 0, 0.2);
  animation: moveFromRight 0.3s;
  display: flex;
  flex-direction: column;
}

.box {
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 4.8rem;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #222;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 1000px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
  @media (hover: none) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
