.actions,
.disabled {
  width: 100%;
  box-shadow: 0rem -2rem 4rem rgba(0, 0, 0, 0.3);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media only screen and (max-width: 330px) {
    grid-template-columns: 1fr;
  }
}

.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 3.2rem;
  transition: var(--transition-long);
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: var(--color-primary-yellow-shade-1);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 3.2rem;
  font-size: 2rem;
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-primary-yellow-shade-1);
  }

  @media only screen and (max-width: 768px) {
    padding: 3.6rem 3.2rem;
  }

  @media only screen and (max-width: 430px) {
    padding: 3.6rem 1.6rem;
  }

  @media only screen and (max-width: 330px) {
    padding: 2.4rem 1.6rem;
  }

  &__delivery,
  &__package {
    &::after {
      content: "";
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__delivery {
    &::after {
      background-image: url("/svg/calendar-white.svg");
    }
  }

  &__package {
    &::after {
      background-image: url("/svg/trash-white.svg");
    }
  }
}

.text {
  font-size: 2.2rem;
  color: var(--color-primary-white-shade-1);
}

.icon {
  width: 4.4rem;
  height: 4.4rem;
}
