.container {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  box-shadow: 0 -2rem 4rem rgba(#000, 0.2);
}

.row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.text {
  font-size: 1.8rem;
  color: var(--color-primary-white-shade-1);
}

.number {
  font-size: 2.2rem;
  color: var(--color-primary-yellow);
  font-weight: 600;
}

.date {
  font-size: 2.2rem;
  color: var(--color-primary-yellow);
  font-weight: 00;
}
