.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: 0.3px;
}

.price {
  font-size: 2.2rem;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: #222;
  border-radius: 7px;
  overflow: hidden;
  gap: 2.4rem;

  @media only screen and (max-width: 768px) {
    height: 10rem;
  }

  @media only screen and (max-width: 400px) {
    height: 14rem;
  }
}

.img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
}

.quantity {
  font-size: 1.6rem;

  @media only screen and (max-width: 320px) {
    display: none;
  }
}

.bought {
  font-size: 1.6rem;
}

.empty {
  padding: 4.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

.text {
  font-size: 2.4rem;
}

.icon {
  width: 6rem;
  height: 6rem;
}
