.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  padding: 2.4rem 3.6rem;
  border-radius: 7px;
  background-color: rgba(#222, 0.4);
  box-shadow: 2rem 0 4rem rgba(#000, 0.05);
  transition: var(--transition-medium);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(#333, 0.9);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 4fr 1fr;
    padding: 1.8rem 2.8rem;
  }

  @media only screen and (max-width: 360px) {
    grid-template-columns: 1fr;
  }
}

.box {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 6px;
  font-size: 3.2rem;
  color: var(--color-primary-yellow);
  letter-spacing: 0.3px;
}

.description {
  font-size: 1.8rem;
}

.icon {
  align-self: center;
  height: 6.4rem;
  width: 100%;

  @media only screen and (max-width: 360px) {
    display: none;
  }
}

.selected {
  background-color: rgba(#333, 0.9);
}
