.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 300;
  width: 80%;
  max-width: 80rem;
  min-height: 60rem;
  aspect-ratio: 1/1;
  border-radius: 7px;
  background-color: rgba(#151515, 0.95);
  transform: translate(-50%, -50%);
  animation: fadeIn 0.4s;

  @media only screen and (max-width: 768px) {
    width: 100%;
    max-width: none;
    height: 100%;
    aspect-ratio: auto;
  }
}
