.heading {
  margin-bottom: 2.4rem;
  font-family: "Caveat", cursive;
  font-size: 4rem;
  letter-spacing: 0.3px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 1.2rem;

  @media only screen and (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}
