.section {
  padding: 14rem 0;

  @media only screen and (max-width: 530px) {
    padding: 8rem 0;
  }
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 4.8rem;

  @media only screen and (max-width: 640px) {
    padding: 0 2.4rem;
  }
}

.heading {
  font-size: 5.6rem;
  font-family: "Caveat", cursive;
  line-height: 1.1;
  letter-spacing: 0.3px;
  margin-bottom: 3.6rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media only screen and (max-width: 1040px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 530px) {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @media only screen and (max-width: 530px) {
    grid-template-columns: 1fr;
  }
}

.icon {
  width: 8rem;
  height: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.title {
  font-size: 2.6rem;
}

.text {
  font-size: 1.6rem;
  color: var(--color-primary-white-shade-1);
}
