@import "../../animations.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 0%,
      rgba(18, 18, 18, 0.8) 50%,
      rgba(18, 18, 18, 1) 100%
    ),
    url("/img/about/production-background-lg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-resolution: 191dpi),
    only screen and (max-width: 1200px) {
    background-image: linear-gradient(
        0deg,
        rgba(18, 18, 18, 1) 0%,
        rgba(18, 18, 18, 0.8) 50%,
        rgba(18, 18, 18, 1) 100%
      ),
      url("/img/about/production-background-md.webp");
  }

  @media only screen and (max-width: 600px) {
    background-image: linear-gradient(
        0deg,
        rgba(18, 18, 18, 1) 0%,
        rgba(18, 18, 18, 0.8) 50%,
        rgba(18, 18, 18, 1) 100%
      ),
      url("/img/about/production-background-sm.webp");
  }

  @media only screen and (max-width: 530px) {
    padding: 12rem 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 140rem;
  padding: 0 4.8rem;
}

.heading {
  max-width: 60%;
  margin-bottom: 3.2rem;
  font-family: "Caveat", cursive;
  font-size: 6.4rem;
  color: var(--color-primary-yellow);
  line-height: 1.1;
  letter-spacing: 0.3px;
  animation: fadeInLeft 2s;

  @media only screen and (max-width: 840px) {
    max-width: 100%;
  }
}

.text {
  max-width: 40%;
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
  line-height: 1.5;
  animation: fadeIn 2.5s;

  @media only screen and (max-width: 1200px) {
    max-width: 60%;
  }

  @media only screen and (max-width: 840px) {
    max-width: 80%;
  }

  @media only screen and (max-width: 540px) {
    max-width: 100%;
  }
}
