@import "../../animations.scss";

.background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/home/hero-lg.webp");
  background-position: center;
  background-size: cover;

  @media only screen and (max-width: 860px) {
    height: 120vw;
  }
  @media only screen and (max-width: 460px) {
    height: 160vw;
  }

  @media only screen and (max-resolution: 191dpi),
    only screen and (max-width: 1200px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/img/home/hero-md.webp");
  }

  @media only screen and (max-width: 600px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/img/home/hero-sm.webp");
  }
}

.container {
  z-index: 100;
  width: 100%;
  max-width: 100rem;
  padding: 4.8rem;

  @media only screen and (max-width: 550px) {
    padding: 2.4rem;
  }
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  @media only screen and (max-width: 300px) {
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
  }
}

.spacer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: 960/540;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/svg/wave-up-hero.svg");
}
