.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 0;
}

.heading {
  margin-bottom: 3.6rem;
  font-family: "Caveat", cursive;
  font-size: 5.6rem;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 160rem;
  padding: 0 2.4rem;
}

.box {
  position: relative;
  width: 100%;
  max-width: 120rem;
  min-height: 50rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  overflow-x: hidden;

  @media only screen and (max-width: 500px) {
    min-height: 45rem;
  }

  @media only screen and (max-width: 420px) {
    padding: 0 2.4rem;
  }

  @media only screen and (max-width: 320px) {
    min-height: 50rem;
  }
}

.btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-fast);
  cursor: pointer;

  @media only screen and (max-width: 1330px) {
    top: 100%;
  }

  &__prev {
    left: 0;
    background-image: url("/svg/arrow-prev-white.svg");
    transform: translate(15px, -50%);

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-prev-yellow.svg");
    }

    @media only screen and (max-width: 1330px) {
      left: 50%;
      transform: translateX(-100%);
    }
  }

  &__next {
    right: 0;
    background-image: url("/svg/arrow-next-white.svg");
    transform: translate(-15px, -50%);

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-next-yellow.svg");
    }

    @media only screen and (max-width: 1330px) {
      right: 50%;
      transform: translateX(100%);
    }
  }
}

.disabled {
  &__prev {
    background-image: url("/svg/arrow-prev-grey.svg");
    cursor: default;

    &:hover {
      background-image: url("/svg/arrow-prev-grey.svg");
    }
  }

  &__next {
    background-image: url("/svg/arrow-next-grey.svg");
    cursor: default;

    &:hover {
      background-image: url("/svg/arrow-next-grey.svg");
    }
  }
}
