.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.btn {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-fast);
  cursor: pointer;
  &__prev {
    background-image: url("/svg/arrow-prev-white.svg");

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-prev-yellow.svg");
    }
  }

  &__next {
    background-image: url("/svg/arrow-next-white.svg");

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-next-yellow.svg");
    }
  }
}

.number {
  font-weight: 500;
  font-size: 4rem;
}

.disabled {
  &__prev {
    background-image: url("/svg/arrow-prev-grey.svg");
    cursor: default;

    &:hover {
      background-image: url("/svg/arrow-prev-grey.svg");
    }
  }

  &__next {
    background-image: url("/svg/arrow-next-grey.svg");
    cursor: default;

    &:hover {
      background-image: url("/svg/arrow-next-grey.svg");
    }
  }
}
