@import "../../../animations.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 2.4rem;

  @media only screen and (max-width: 425px) {
    padding: 0 1.2rem;
  }
}

.heading {
  font-size: 6rem;
  font-family: "Caveat", cursive;
  letter-spacing: 0.3px;
  margin-bottom: 2.4rem;
  animation: fadeInLeft 2s;
}

.or {
  align-self: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 4.2rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  animation: fadeIn 3s;
}

.subheading {
  font-size: 2.8rem;
  color: var(--color-primary-white-shade-1);
  padding: 0 1.4rem;
  font-family: "Caveat", cursive;
  animation: fadeIn 2s;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  min-height: 95rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #222;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 1000px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #444;
  }

  @media only screen and (max-width: 1360px) {
    overflow-x: scroll;
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 4.2rem;
  }
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(#121212, 0.95);
  border-radius: 7px;
  padding: 2.4rem;
  animation: fadeIn 2s;
  min-height: 95rem;
}
