@import "../../../animations.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 2.4rem;
  border-radius: 7px;
  background-color: rgba(#121212, 0.95);
  animation: fadeIn 2s;

  @media only screen and (max-width: 768px) {
    justify-self: center;
    width: 100%;
    max-width: 75rem;
  }

  & a {
    align-self: center;
    width: 100%;
    text-align: center;
  }

  &:last-child {
    @media only screen and (max-width: 900px) {
      grid-column: 1/-1;
      justify-self: center;
      width: 50%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
      max-width: 75rem;
    }
  }
}

.heading {
  margin-bottom: 0.8rem;
  font-family: "Caveat", cursive;
  font-size: 5.6rem;
  color: var(--color-primary-yellow);
  letter-spacing: 0.3px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 2.4rem;
  }
}

.description {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  line-height: 1.3;
}

.list {
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 3.2rem;
}

.loader {
  align-self: center;
  width: 100%;
  height: 40rem;
}
