.list {
  border: 2px solid var(--color-primary-white);
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &:not(:last-child) {
    border-bottom: 2px solid var(--color-primary-white);
  }
}

.box {
  padding: 6px 1.4rem;
  font-size: 2rem;

  &:first-child {
    border-right: 2px solid var(--color-primary-white);
  }

  @media only screen and (max-width: 400px) {
    font-size: 1.8rem;
  }
}
