.btn {
  background-image: url("/svg/add-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-medium);
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: url("/svg/add-yellow.svg");
  }
}
