@import "../../animations.scss";

.container {
  background-color: transparent;
  padding: 3.2rem 4.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;

  @media only screen and (max-width: 720px) {
    width: 100%;
    height: 100%;
    max-width: none;
    background-color: rgba(#121212, 0.95);
    justify-content: center;
    padding: 1.2rem 3.2rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.8rem;
  margin-bottom: 1.8rem;
}

.heading {
  font-size: 4.6rem;
  font-family: "Caveat", cursive;
  letter-spacing: 0.3px;
  color: var(--color-primary-yellow);
  transition: var(--transition-fast);
}

.close {
  width: 4.8rem;
  height: 4.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/svg/close-square-white.svg");
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: url("/svg/close-square-yellow.svg");
  }

  @media only screen and (max-width: 720px) {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.months {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.month {
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-fast);

  &__prev {
    background-image: url("/svg/arrow-prev-white.svg");

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-prev-yellow.svg");
    }

    &__disabled {
      background-image: url("/svg/arrow-prev-grey.svg");
      cursor: default;

      &:hover,
      &:focus {
        background-image: url("/svg/arrow-prev-grey.svg");
      }
    }
  }

  &__next {
    background-image: url("/svg/arrow-next-white.svg");

    &:hover,
    &:focus {
      background-image: url("/svg/arrow-next-yellow.svg");
    }

    &__disabled {
      background-image: url("/svg/arrow-next-grey.svg");
      cursor: default;

      &:hover,
      &:focus {
        background-image: url("/svg/arrow-next-grey.svg");
      }
    }
  }
}
