@import "../../animations.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4.8rem;
  background-color: transparent;
  z-index: 150;

  @media only screen and (max-width: 340px) {
    padding: 8px 2.4rem;
  }

  &__sticky {
    animation: fadeIn 0.5s;
    position: fixed;
    background-image: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0) 0%,
      rgba(18, 18, 18, 0.7) 10%
    );
  }

  &__static {
    position: static;
    background-color: var(--color-primary-black);
    box-shadow: 2rem 0 4rem rgba(#000, 0.2);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2.8rem;

  @media only screen and (max-width: 520px) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0%;
    height: 0%;
    gap: 0rem;
  }

  &__mobileOpen {
    @media only screen and (max-width: 520px) {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      visibility: visible;
      width: 100vw;
      height: 100vh;
      background-color: rgba(#121212, 0.85);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      flex-direction: column;
      justify-content: center;
      z-index: 300;
      transition: height 0.4s, opacity 0.4s;
    }
  }
}

.link {
  color: var(--color-primary-white);
  font-size: 2.4rem;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-primary-yellow);
  }

  @media only screen and (max-width: 520px) {
    width: 100%;
    font-size: 4.2rem;
    text-align: center;
  }
}

.mobile {
  display: none;
  width: 5.2rem;
  height: 5.2rem;
  background-image: url("/svg/hamburger-menu-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-fast);
  cursor: pointer;

  &:focus,
  &:hover {
    background-image: url("/svg/hamburger-menu-yellow.svg");
  }

  @media only screen and (max-width: 520px) {
    display: block;
  }
}
