.logo {
  font-family: "Caveat", cursive;
  font-size: 7.4rem;
  color: var(--color-primary-yellow);
  letter-spacing: 2.5px;
  transition: var(--transition-fast);
  cursor: pointer;

  &:focus {
    color: var(--color-primary-white);
  }
}
