@import "../../animations.scss";

.background {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    rgba(21, 21, 21, 0.5),
    rgba(21, 21, 21, 0.5)
  );
  animation: fadeIn 0.5s;
}
