.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--color-primary-white-shade-3);
  padding: 4.8rem 4.8rem 2.4rem;

  @media only screen and (max-width: 520px) {
    padding: 3.6rem 3.6rem 2.4rem;
  }
}

.heading {
  font-size: 5.4rem;
  font-family: "Caveat", cursive;
  color: var(--color-primary-yellow);
}

.close {
  width: 4.6rem;
  height: 4.6rem;
  background-image: url("/svg/close-square-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: var(--transition-fast);

  &:hover,
  &:focus {
    background-image: url("/svg/close-square-yellow.svg");
  }
}
