.btn {
  width: 4rem;
  height: 4rem;
  background-image: url("/svg/cart-white.svg");
  background-size: cover;
  transition: var(--transition-fast);
  cursor: pointer;

  &:hover,
  &:focus {
    background-image: url("/svg/cart-yellow.svg");
  }

  @media only screen and (max-width: 520px) {
    width: 6rem;
    height: 6rem;
  }
}
