.item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: #222;
  border-radius: 7px;
  overflow: hidden;
  gap: 2.4rem;

  @media only screen and (max-width: 768px) {
    height: 10rem;
  }

  @media only screen and (max-width: 400px) {
    height: 14rem;
  }
}

.img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
}

.quantity {
  font-size: 1.6rem;

  @media only screen and (max-width: 320px) {
    display: none;
  }
}

.bought {
  font-size: 1.6rem;
}
